* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  block-size: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


body::-webkit-scrollbar {
  display: none;
}


#active {
  font-weight: bold;
  font-style: italic;
}

#nav {
  padding: 3vw 10vw;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#navleft {
  display: flex;
  gap: 20px;
}

#navright {
  display: flex;
  gap: 20px;
}

#nav a {
  text-decoration: none;
  color: #000;
}