* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  block-size: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


body::-webkit-scrollbar {
  display: none;
}


#active {
  font-weight: bold;
  font-style: italic;
}

#nav {
  padding: 3vw 10vw;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#navleft {
  display: flex;
  gap: 20px;
}

#navright {
  display: flex;
  gap: 20px;
}

#nav a {
  text-decoration: none;
  color: #000;
}

#hero {
  margin-top: 20vw;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
}


#sustain {
  width: 10vw;
  margin-top: 15vw;
}

#sustain p {
  font-size: 12px;
  font-weight: 800;
  opacity: .5;
  text-transform: capitalize;
  margin: 10px 0;
}

#sustain #susimage {
  width: 160%;
  position: relative;
  overflow: hidden;
  height: 25vw;
  /* background: #dd4545; */
}

#susimage img {
  position: absolute;
  width: 150%;
  height: 150%;
  transform: translate(-17%, -25%);
  top: 22%;
  right: auto;
  object-fit: cover;
}

#heading {
  width: 25vh;
  height: 36vh;
  /* margin-left: 10vw; */
  background: #d41616;
}

#circles {
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
}

#heading h1 {
  font-size: 2vw;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}

#visit {
  display: flex;
  align-items: center;
  gap: 10px;
  /* width: 10vw;             */
  margin-top: 2vw;        
}

#visit h3 {
  font-size: 1vw;
  font-weight: 200;
  color: #000;
}